In [9]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 


train=pd.read_csv('train.csv')
holdout= pd.read_csv('test.csv')

#NA and age group

def age_cat(df):
    df['Age']=df['Age'].fillna(-0.5)
    cut_points=[-1,0,5,12,18,35,60,100]
    label_name=["Missing","Infant","Child","Teenager","Young Adult","Adult","Senior"]
    df["Age_c"]= pd.cut(df["Age"],cut_points,labels=label_name)
    return df
    
def fare_price(df):
    df['Fare']=df['Fare'].fillna(-0.5)
    cut_points=[0,8,15,30,100,520]
    label_name=["G5","G4","G3","G2","G1"]
    df["fare_g"]= pd.cut(df["Fare"],cut_points,labels=label_name)
    return df
    
def make_dummies (df,col_name):
    dummies=pd.get_dummies(df[col_name], prefix=col_name)
    df=pd.concat([df,dummies], axis=1)
    return df

col_name=["Age_c","fare_g","Sex"]

train=age_cat(train)
holdout=age_cat(holdout)
#holdout
train=fare_price(train)
holdout=fare_price(holdout)
train=make_dummies(train,col_name)
holdout=make_dummies(holdout,col_name)
# train.head()

#we have data ready, train network:
from sklearn.linear_model import LogisticRegression
# from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
lr=LogisticRegression()

columns=['Age_c_Missing',
 'Age_c_Infant',
 'Age_c_Child',
 'Age_c_Teenager',
 'Age_c_Young Adult',
 'Age_c_Adult',
 'Age_c_Senior',
 'fare_g_G5',
 'fare_g_G4',
 'fare_g_G3',
 'fare_g_G2',
 'fare_g_G1',
 'Sex_female',
 'Sex_male']

all_x=train[columns]
all_y=train["Survived"]

# lr.fit(all_x , all_y)

scores= cross_val_score(lr,all_x,all_y,cv=10)
scores.sort()
print(scores)
scores.mean()

[ 0.74157303  0.74444444  0.75        0.76404494  0.78651685  0.78651685
  0.78651685  0.78888889  0.80898876  0.85393258]

0.78114232209737833

In [12]:
lr.fit(all_x,all_y)
prediction=lr.predict(holdout[columns])
p_id=holdout['PassengerId']
p_Name=holdout['Name']
pred_list={"P_ID":p_id,"P_name":p_Name, "Survived":prediction}
pred_out=pd.DataFrame(pred_list)

# pred_list.to_csv('out.csv', index=False)
pred_out.to_csv('out.csv', index=False)

In [3]:
train.head()
# train.isnull().sum()
# train['Fare'].describe()
# list(train)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Age_c_Young Adult,Age_c_Adult,Age_c_Senior,fare_g_G5,fare_g_G4,fare_g_G3,fare_g_G2,fare_g_G1,Sex_female,Sex_male
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
survived=train[train['Survived']==1]
died=train[train['Survived']==0]
survived['Age'].plot.hist(alpha=0.5, color='blue')
# died['Age'].plot.hist(alpha=0.5, color='yellow')
# # plt.show()

survived['Pclass'].plot.hist(alpha=0.5, color='green')
# died['Pclass'].plot.hist(alpha=0.5, color='red')
# plt.show()